<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <style type="text/css">
            .simple-screenshot {
                width: 100px;
            }
            #content {
                width: 100%;
            }
            #shortcut {
                color: green;
                text-decoration: underline;
            }
            h2 {
                font-size: 14px;
            }
        </style>
    </head>
    <body class="simple-screenshot">
        <div id="content">
            <h2>The ShortCut: </h2>
            <p><strong id="shortcut"> Ctrl + Shift + 1 </strong></p>
        </div>
    </body>
</html>
